html[dir="ltr"] {
  .discount {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  @include max-1200 {
    .feature-title {
      line-height: 20px;
    }
  }

  @include max-768 {
    .feature-title {
      line-height: 1.5;
    }
    .feature-subtitle {
      max-width: 100%;
      margin: 0;
    }
    .feature-subtitle {
      line-height: 1.4;
    }
  }
}
